#mainContainer {
    margin-top: 64px;
    flex-grow: 1;
}
.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: 24px;
    background-color: #5393E1;
    color: whitesmoke;
}
.footerLink {
    position:relative;
    display:flex;
    align-items: center;
    color: whitesmoke;
    height: 100%;
}
.gitIcon {
    height: 100%;
    width:auto;
}