#mainContainer {
    margin-top: 64px;
    flex-grow: 1;
    min-height: calc(100vh - 64px - 25px - 10px);
    padding-left:24px;
    padding-right:24px;
}
.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    padding: 5px;
    background-color: #5393E1;
    color: whitesmoke;
}
.footerLink {
    position:relative;
    display:flex;
    align-items: center;
    color: whitesmoke;
    height: 100%;
}
.gitIcon {
    height: 100%;
    width:auto;
}
.menuList,
.menuBook {
    list-style-position: inside;
}


.menuItem,
.bookItem {
 cursor: pointer;
 height: 20px;
 color: whitesmoke;
}
.menuList {
    padding: 10px 0px;
}
.menuItem {
    padding: 5px 0px 5px 10px;
}
.menuBook {
    padding: 0px 0px;
}
.bookItem {
    padding: 5px 0px 5px 40px;
}


.menuItem:hover,
.bookItem:hover {
    background-color: #F1764E;
}
