.createLink{
    text-decoration: underline;
    color: green;
    }
    
.inputForm{
        margin-bottom: 10px;
    }
    
.formBtn {
        height: 20px;
        background-color: rgba(6, 141, 78, 0.966);
        color:whitesmoke;
        border-radius:10px;
    }
.signInBtn{
        background-color: #F1764E;
        color:whitesmoke;
        font-size: 1.25rem;
        padding: 5px 10px;
        cursor: pointer;
    }
    
.formLink{
    margin-left: 10px;
    color:blue;
}    
.errorBox {
    margin-top: 15px;
    background-color: #eca48c;
    color: rgba(0, 0, 0, 0.582);
    font-size: 1.3em;
    border-radius: 10px;
    border:2px solid #ec5a2a;
    text-align: center;
}