.textbook {
    background-color: bisque;
}

.gamesMenu,
.partList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partList li {
    display: block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.gameItem {
    display: block;
    width: 100px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #141B29;
    cursor: pointer;
    margin-left: 20px;
    text-align: center;
}
.gameItem:hover {
    transform: scale(1.1);
}

.gameLink,
.partLink {
    color: black;
}
.partItem1 {
    background-color: #82B2ED;
}
.partItem2 {
    background-color: #689BDC;
}
.partItem3 {
    background-color: #295488;
}
.partItem4 {
    background-color: #28456B;
    color: whitesmoke;
}
.partItem5 {
    background-color: #1B2D46;
    color: whitesmoke;
}
.partItem6 {
    background-color: #141B29;
    color: whitesmoke;
}
.wordsCont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

@media (max-width: 770px) {
    .wordsCont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}
}