.header {
    background-color: green;
}

.landing {
    padding: 24px;
    margin-top: 64px;
    background-color: #ffff;
}
.section {
    display:flex;
    position: relative;
    width:100%;
}
.aboutSection{
    justify-content: space-between;
}
.imgContainer{
    width:50%;
}
.innerImg {
    width:100%;
    height: auto;
}
.createLink{
text-decoration: underline;
color: green;
}

.inputForm{
    margin-bottom: 10px;
}

.formBtn {
    height: 20px;
    background-color: rgba(6, 141, 78, 0.966);
    color:whitesmoke;
    border-radius:10px;
}

.signInBtn{
    background-color: #F1764E;
    color:whitesmoke;
    font-size: 1.25rem;
    padding: 5px 10px;
}